services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main-slim
    restart: unless-stopped
    # ports:
    #   - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    env_file: ../stack.env
    networks:
      - proxy

volumes:
  open-webui:

networks:
  proxy:
    external: true
